
@{
    ViewBag.Title = "Enviar SMS - Lote:" + ViewData["Lote"];
    PortalSend.Models.Chiperas_Configuration_Models C = new PortalSend.Models.Chiperas_Configuration_Models();
}



<section id="Index" class="about">
    <div class="container">
        <div class="row">
            <h2>Envio de SMS</h2>
        </div>

        <div class="row">
            <h3>Lote:@ViewData["Lote"]</h3>
            <div class="col p-2">

            </div>
        </div>

        <div class="row">
            <div class="col p-2">
                <textarea id="Tbx_Mensaje" class="Tbx_Mensaje" placeholder="Mensaje" required></textarea>
                <span id="Tbx_Longitud">Largo 0 caracteres <b>(1 sms)</b></span>
            </div>
        </div>
        <div class="row">
            <div class="col p-2">
                <button id="Btn_Enviar" type="button" class="btn btn-info">Enviar SMS</button>
            </div>
        </div>
        <div class="row">
            <ul id="panelbar">
                <li>
                    <span>Chipera</span>
                    <div class="col p-0 text-center">
                        <label>Reporte:</label> <input name="signinPassword" type="text" id="Tbx_Reporte" value="@C.Tel_Reporte" placeholder="User" />
                        <label>Port:</label> <input name="signinPassword" type="number" id="Tbx_Port" value="@C.Port_Default" placeholder="Puerto" />
                    </div>
                </li>

            </ul>
        </div>


        <div class="row">
            <div class="col">
                <label>Contactos:</label>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="row">
                    <div id="Pager_Contactos" class="k-pager-wrap"></div>
                </div>
                <div class="row">
                    <div id="List_Contactos"></div>
                </div>

            </div>

            <div class="col">
                <div class="row">
                    <div id="Pager_Resultados" class="k-pager-wrap"></div>
                </div>
                <div class="row">
                    <div id="List_Resultados"></div>
                </div>

            </div>

        </div>



    </div>
</section>



<script>
    $(document).ready(function () {
        var lote = '@ViewData["Lote"]';

        $("#Tbx_Mensaje").on('change keyup paste', function () {
            $("#Tbx_Longitud").html("Largo " + $("#Tbx_Mensaje").val().length + " caracteres <b>(" + Math.floor(($("#Tbx_Mensaje").val().length / 160) + 1) + " sms)</b>");

        });
        $("#Btn_Enviar").click(function () { EnviarSMS() });
        dataSource = new kendo.data.DataSource({
            pageSize: 50,
            transport: {
                read: {
                    url: '@Url.Action("ListarContactos", "SMS")',
                    dataType: "json",
                },
                parameterMap: function (data, type) {
                    if (type == "read") {
                        return {
                            Lote:lote,
                        }
                    }
                }
            },
             schema: {
                model: {
                    id: "con_id",
                    fields: {
                        Titular: "con_titular",
                        Phone: "con_phone"
                    }
                }
            }
        });

        $("#List_Contactos").kendoListView({
            dataSource: dataSource,
            selectable: "single",
            template: kendo.template($("#template").html()),
            altTemplate: kendo.template($("#template2").html()),
        });

        $("#Pager_Contactos").kendoPager({
            dataSource: dataSource
        });

        $("#panelbar").kendoPanelBar({
            expandMode: "single"
        });
        $("#panelbar").kendoPanelBar().data("kendoPanelBar");

    });


    function EnviarSMS(){

        $.ajax({
            url: '@Url.Action("EnviarSMSMasivo","SMS")',
            datatype: "json",
            type: "post",
            data: {
                Mensaje: $("#Tbx_Mensaje").val(),
                Lote: '@ViewData["Lote"]',
                Reporte: $('#Tbx_Reporte').val(),
                Port: $('#Tbx_Port').val(),


            },


            success: function (data) {
                if (data) {

                    var dataSource = new kendo.data.DataSource({
                        data: data,
                        pageSize: 200
                    });

                    $("#Pager_Resultados").kendoPager({
                        dataSource: dataSource
                    });

                    $("#List_Resultados").kendoListView({
                        dataSource: dataSource,
                        template: kendo.template($("#template_resultado").html()),
                        altTemplate: kendo.template($("#template_resultado2").html()),
                    });



                }
            },

            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Status: " + textStatus + " Error: " + errorThrown + " URL" + Ruta);
            }
        });

    }

</script>





<script type="text/x-kendo-tmpl" id="template">
    <div class="row bg-light">
        <div class="col text-center small p-2 rounded">
            <strong class="text-primary"><i class="fas fa-key"></i> #:con_id# </strong>
            <span class="text-info"><i class="fas fa-mobile-alt"></i> #:Phone#</span>
            <span><i class="fas fa-user"></i> #:Titular#</span>
        </div>

    </div>
</script>

<script type="text/x-kendo-tmpl" id="template2">
    <div class="row">
        <div class="col text-center small p-2 rounded">
            <strong class="text-primary"><i class="fas fa-key"></i> #:con_id# </strong>
            <span class="text-info"><i class="fas fa-mobile-alt"></i> #:Phone#</span>
            <span><i class="fas fa-user"></i> #:Titular#</span>
        </div>

    </div>
</script>

<script type="text/x-kendo-tmpl" id="template_resultado">
    <div class="row bg-light">
        <div class="col text-center small p-2 rounded">
            <span class="text-info"> #:res_mensaje#</span>
            <span>#:kendo.stringify(res_contenido)#</span>
        </div>

    </div>
</script>

<script type="text/x-kendo-tmpl" id="template_resultado2">
    <div class="row">
        <div class="col text-center small p-2 rounded">
            <span class="text-info"> #:res_mensaje#</span>
            <span>#:kendo.stringify(res_contenido)#</span>
        </div>

    </div>
</script>



<style>

    .Tbx_Mensaje {
        width: 100%;
        height: 100px;
    }

    #panelbar {
        width: 100%;
        margin: 0 auto;
    }


    .k-listview-bordered {
        width: 100%;
        border:none;
    }
</style>