
@using PortalSend.Models;
@{
    ViewBag.Title = "Index";
    Resultados_Models R1 = ViewData["Resultado1"] as Resultados_Models;
    Resultados_Models R2 = ViewData["Resultado2"] as Resultados_Models;
    Resultados_Models R3 = ViewData["Resultado3"] as Resultados_Models;
}

<!-- ======= Section ======= -->
<section id="Index" class="about">
    <div class="container">

        <div class="section-title">
            <h2>Inicio</h2>
        </div>

        <div class="row">
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1">
                <h3>Portal para envio masivo de SMS</h3>
            </div>
        </div>

        <div class="card-deck mb-3 text-center">

            <div class="card mb-3 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Port Info</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">@R1.res_mensaje <small class="text-muted"></small></h1>
                    <ul class="list-unstyled mt-3 mb-3">
                        <li>
                            <script type="text/javascript"> 
                                var value = '@R1.res_contenido.content';
                                value.split(':').join('|').split('|').map((str) => { return "<div class='col'>" + str + "</div>" }).join(' ').replace('549', '');
                            </script> 
                            @R1.res_contenido.content</li>
                        <li>@R1.res_cantidad</li>
                        <li>@R1.res_metodo</li>
                        <li>@R1.res_excepcion</li>
                    </ul>

                </div>
            </div>

            <div class="card mb-3 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Port Connect State</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">@R2.res_mensaje <small class="text-muted"></small></h1>
                    <ul class="list-unstyled mt-3 mb-3">
                        <li>@R2.res_contenido.content</li>
                        <li>@R2.res_cantidad</li>
                        <li>@R2.res_metodo</li>
                        <li>@R2.res_excepcion</li>
                    </ul>

                </div>
            </div>

            <div class="card mb-3 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Wireless Info</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">@R3.res_mensaje <small class="text-muted"></small></h1>
                    <ul class="list-unstyled mt-3 mb-3">
                        <li>@R3.res_contenido.content</li>
                        <li>@R3.res_cantidad</li>
                        <li>@R3.res_metodo</li>
                        <li>@R3.res_excepcion</li>
                    </ul>

                </div>
            </div>






        </div>




    </div>
</section><!-- End Section -->


<script type="text/javascript">
    function replaceString(value) {
      //  return value.replace(":", "<br />");
        return value.split(':').join('|').split('|').map((str) => { return "<div class='col'>" + str + "</div>" }).join(' ').replace('549','');
    }
</script>
