
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["Resultado1"]);


@Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["Resultado2"]);

@Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["Resultado3"]);
@Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["Resultado4"]);
@Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["Resultado5"]);
@Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["Resultado6"]);